.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    background: rgba(51, 51, 51, 0.95);
    font-size: 2rem;
    padding: 0.3rem 6rem;
    text-align: center;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5); /* Add an inner shadow */
    font-family: 'Helvetica', sans-serif;
    color: #ffffff;
    border-radius: 7px;
}

@media (min-width: 1024px) {
    .timer {
        padding: 0.3rem 12rem;
    }
}



.next-reveal {
    font-size: 1.5rem; /* Adjust as needed */
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    /* Add any other styles as needed */
}

@media (max-width: 768px) {
    .next-reveal {
        font-size: 1rem;
    }
}


