#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px); /* Remove some space for the Nav*/
}

.mySwiper2 {
    flex-grow: 1;
    width: 100%;
}

.myThumbnails {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .myThumbnails {
        width: 90%;
    }
}

@media (min-width: 769px) {
    .myThumbnails {
        width: 70%;
    }
}

@media (min-width: 1400px) {
    .myThumbnails {
        width: 40%;
    }
}


.myThumbnails .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.myThumbnails .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    border: 6px solid black;
}

.myThumbnails .swiper-slide img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto;
    border: 2px solid black;
}

@media (max-width: 768px) {
    .myThumbnails .swiper-slide img {
        height: 75px;
        width: 75px;
    }
}

