@keyframes swipeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes swipeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.swipeOutLeft {
    animation: swipeOutLeft 0.5s forwards;
}

.swipeOutRight {
    animation: swipeOutRight 0.5s forwards;
}

