
.details-modal-image-container {
    width: 100%;
    height: auto;
}

.metadata-grid-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.details-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    color: black;
    padding-top: 8px;
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    .details-modal-header {
        font-size: 25px;
    }
}

.metadata-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust as needed */
    gap: 20px; /* Adjust as needed */
    width: 100%;
    color: black;
}

.trait-column {
    display: flex;
    flex-direction: column;

}

.attributes-header {
    grid-column: 1;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .attributes-header {
        font-size: 47px;
    }
}

@media screen and (min-width: 768px) {
    .trait-column:nth-of-type(1) {
        padding-left: 20px;
    }

    .trait-column:nth-of-type(2) {
        padding-right: 100px;
    }
}



.trait-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trait-icon-name {
    display: flex;
    align-items: center;
}

.trait-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
    margin-right: 10px;
}

.image-metadata-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);/* Adjust as needed */
    gap: 20px; /* Adjust as needed */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .image-metadata-container {
        grid-template-columns: 1fr; /* Creates one column on smaller screens */
    }
}

.trait-name {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .trait-name {
        font-size: 25px;
    }
}

.trait-value {
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    .trait-value {
        font-size: 23px;
    }
}

@media screen and (min-width: 800px) {
    .trait-value {
        white-space: nowrap;
    }
}

.center-container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detail-buttons {
    background-color: #e6a40e;
    border-radius: 7px;
    padding: 0.5rem;
    color: black;
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .detail-buttons {
        font-size: 25px;
    }
}

.image-details-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}