.competition-scroll-container {
    height: calc(100vh - 150px);
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}

.competition-scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.competition-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: -10px;
}

.text-header-content {
    font-size: 4.5em;
}

.text-content {
    font-size: 1.2rem;
    max-width: 700px;
    color: #888888;
}

.link-content {
    display: inline-block;
    background-color: #e6a40e;
    color: #131615;
    border-radius: 8px;
    padding: 0.6rem 2rem;
    text-align: center;
    text-decoration: none;
    margin-top: 1.5rem;
    font-size: 1.8rem;
}

.link-content:hover {
    cursor: pointer;
}

.aeons-yellow {
    color: #e6a40e;
}

.aeons-white {
    color: #fff;
}

.shadow-container {
    padding: 40px;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.4);
    background: rgba(27, 25, 25, 0.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-style {
    font-size: 22px; /* Increase the font size */
    padding: 2px 12px; /* Add padding to increase the size of the button */
    position: relative;

    background-color: rgb(59, 56, 56);
    border-radius: 6px;
    font-family: 'Helvetica', sans-serif;
    height: 45px;
    border: 3px solid #e6a40e;
    animation: border-color-change 2s linear infinite;
}

.default-list {
    list-style-type: disc;
    padding-left: 20px; /* Add padding to ensure the bullets are visible */
}

.forms-input {
    background-color: #fff;
    color: black;
    width: 15vw;
    border-radius: 6px;
    text-align: center;
    font-size: 17px;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    padding: 10px; /* Adds padding to match the input field's style */
    height: 25px;
}

.forms-text {
    font-size: 20px;
}

.forms-grid-view {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.forms-button-style {
    font-size: 16px;
    position: relative;
    background-color: #e6a40e;
    border-radius: 6px;
    color: black;
    font-family: 'Helvetica', sans-serif;
    width: 18vw;
    border: 3px solid #e6a40e;
    font-weight: bold;
    animation: border-color-change 2s linear infinite;
}

.forms-button-style:hover {
    border: 3px solid rgba(27, 25, 25, 0.5);
    cursor: pointer;
}

.confirmation-message {
    font-size: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 800px) {
    .forms-input {
        width: 30vw;
    }
    .forms-button-style {
        width: 18vw;
    }

    .forms-grid-view {
        gap: 10px;
    }
}

.image-responsive {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
}

.content-info-text {

    white-space: normal; /* Allow text to wrap */

}
